%div
  / %h2 New
  / vimeo
  -# video = "http://av.vimeo.com/80441/102/48873745.mp4?token=1322964659_1a8ae7b614d41cf85ce5d2d1533f6"  


  -# video = "http://player.vimeo.com/play_redirect?quality=hd&codecs=h264&clip_id=23112806&time=1322963115&sig=33388a9e1545a8de9ae47d149022e818&type=html5_desktop_local"
  
  #rvideos
    %video#video
      %source{ src: video }
    %video
      %source{ src: video }
    %video
      %source{ src: video }
    %video
      %source{ src: video }
    %video
      %source{ src: video }
      

  
  
  -# <video id="video" autoplay style="display:none">
  -#   <source src="textures/sintel.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
  -#   <source src="textures/sintel.ogv" type='video/ogg; codecs="theora, vorbis"'>
  -# </video>