%div
  / %h2 New

  #rvideos
    %video#video
      %source{ src: "http://o-o.preferred.seabone-mil1.v11.lscache1.c.youtube.com/videoplayback?sparams=id%2Cexpire%2Cip%2Cipbits%2Citag%2Csource%2Cratebypass%2Ccp&fexp=912204%2C905241%2C911501%2C910102&itag=43&ip=79.0.0.0&signature=12B67182C22D947C2FCA4E16DFD7C3BB78EFDC42.28FC5F6723C2C31EF6D7E07BDAA814605976E9E1&sver=3&ratebypass=yes&source=youtube&expire=1322816312&key=yt1&ipbits=8&cp=U0hRR1hMVF9GTENOMV9QRlhEOjg3ejlaMnhLY211&id=68f12be6ef356688" }
  
  -# <video id="video" autoplay style="display:none">
  -#   <source src="textures/sintel.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
  -#   <source src="textures/sintel.ogv" type='video/ogg; codecs="theora, vorbis"'>
  -# </video>