-# contents in #head and #body will be appended to head and body tags in index.html, same thing for #title
%div
  #head
    #title RiotVan Video
    %link{ type: "text/sass", href: "/sass/reset.sass" }
    %link{ type: "text/sass", href: "/sass/app.sass" }
    %link{ type: "text/sass", href: "/sass/theme_red.sass", id: "theme" }
  #body
    #container
      %header
        %h1 
          / %a{ href: "/" } RiotVan
          / RV
          %img{ src: "/images/rv_logo.png" }
          %span VIDEO
        .clear
        .nav_cont
          %nav.tags
            %a{ href: "/" } New
            %a{ href: "/interviews" } Interviews
            %a{ href: "/music" } Music
            %a{ href: "/art" } Art
            %a{ href: "/social" } Social
      .clear
      #debug
      
      #content
        #webgl
        != yield
  
      %footer
      
